security
.env
__pycache__/
*.pyc
*.pyo
.DS_Store
Artifacts/
final_model/
logs/
mlflow.db
prediction_output/
*.pkl
node_modules/
frontend/dist/
NetworkSecurity.egg-info/
valid_data/
Network_data/
.git/